/* CSS Document */

/*
    - reset
    - hover
    - layout
    - header-container
    - main-container
    - footer-container
    - offer_page
    - register
    - signin
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* reset */
*{ margin: 0; padding: 0; border: 0; font: inherit; background: 0; outline: 0 ; box-sizing: border-box; vertical-align: top;}
body { background: #000; font: 12px/1.25 open sans, sans-serif; color: #444;  text-align: center;
        text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;}
img { border: 0; vertical-align: top; max-width: 100%; height: auto;}
a { color: #474e5d; text-decoration: none; cursor: pointer; }
button{cursor:pointer;}
a,button{transition:background 0.3s linear;-moz-transition:background 0.3s linear;-webkit-transition:background 0.3s linear;-o-transition:background 0.3s linear;-ms-transition:background 0.3s linear;}
input{-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}
ul,ol{list-style: none}
.clearfix:after,
.header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.aCenter{text-align: center;}
/**/
* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}
/*layout*/
.wrapper{ /* max-width: 320px; */ margin: auto; text-align: left;}
.page{background: #f2f2f2;}
.goTop{background: url(../images/goTop.png) 0 0 no-repeat;
width: 26px;
height: 26px;
background-size: 100% auto;
position: fixed;
top: 70%;
right: 10%;}
.main .col-main{overflow: hidden;}

/* buttons */
.button.grey{
    background: #5e6471;
background: -moz-linear-gradient(top,  #5e6471 0%, #474e5d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e6471), color-stop(100%,#474e5d));
background: -webkit-linear-gradient(top,  #5e6471 0%,#474e5d 100%);
background: -o-linear-gradient(top,  #5e6471 0%,#474e5d 100%);
background: -ms-linear-gradient(top,  #5e6471 0%,#474e5d 100%);
background: linear-gradient(to bottom,  #5e6471 0%,#474e5d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6471', endColorstr='#474e5d',GradientType=0 );

    width: 60%;
    margin: 10px auto;
    display: block;
    border: 1px solid #474e5d;
    border-radius: 3px;
}
.button.grey span{font-size: 13px; line-height: 15px; padding: 10px 30px; color: #fff; font-weight: bold;display: block;}
/*items*/

.btnDropdown{background: url(../images/bgBtnDropdown.png) 0 0 no-repeat;width: 25px;min-height: 18px;background-size: 25px 18px;}
.btnDropdown >div{
    text-align: center;
}
.btnDropdown select{
    color: #474e5d;
    font-size: 8px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    line-height: 16px;
    width: 100%;
}
.btnDropdown.big{background: url(../images/bgBtnDropdownBig.png) 0 0 no-repeat;width: 38px;min-height: 29px;background-size: 38px auto;padding-left: 3px;}
.btnDropdown.big select{line-height: 29px; font-size: 9px}


.optionsCheckBox .row{padding:10px 0 10px 30px;}
.optionsCheckBox .row .cb{position: absolute;overflow: hidden;clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0;border:0;}
.optionsCheckBox .row .cb + label{  font: normal 11px/26px 'Open Sans',sans-serif;  color: #26334c;  background: url(../images/checkbox.png) 0 100% no-repeat;  background-size: 250px auto;  display: block;  padding:  0 0 0 40px;  white-space: nowrap;}
.optionsCheckBox .row .cb:checked + label{background-position:0 0;}

/*form style*/
.form.roundedStyle .fWrap{margin:0 0 10px;background:#fff;border:1px solid #bbb;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.form.roundedStyle .fWrap input{font:300 12px/20px 'Open Sans',sans-serif;height:33px;width:100%;padding:0 0 10px;color:#b9b9b9;border-top:1px solid #e1e1e1;text-indent:12px;}
.form.roundedStyle .fWrap >input:first-child,
.form.roundedStyle .fWrap .input-box:first-child input{border-top:0;}

.form.roundedStyle.noBorder .fWrap{border:0;}
.form.roundedStyle.noBorder .fWrap input{border-color: #f5f5f5}



.form.style2014{}
.form.style2014 .input-box{
    margin: 2px 0 0;
    color:#474e5d;
    border: 1px solid #474e5d;
    border-radius: 3px;
    background: #fff
}
.form.style2014 .f .label{
    font-weight: bold;
    padding: 5px 0;
    display: block;
}
.form.style2014 .input-box input{
    height: 26px;
    width: 100%;
    color: #474e5d;
    font-size: 10px;
    padding: 0 8px;
    
}
.form.style2014 .f.focus .input-box,
.form.style2014 .f.focus .select-box{box-shadow: 0 0 5px #0071ce; border-color: #0071ce}
.form.style2014 .select-box{
    margin: 2px 0 0;
    color:#474e5d;
    border: 1px solid #474e5d;
    border-radius: 3px;
    background: #fff;
    height: 28px;
    position: relative;
    padding-right: 5px;
}
.form.style2014 .select-box:before{position: absolute;content: '';width: 0;border-left: 1px solid #474e5d;height: 100%;right: 28px;}
.form.style2014 .select-box:after{content: '';position: absolute;height: 0;width: 0;right: 10px;top: 10px;border: 4px solid transparent;border-top: 7px solid #000;}
.form.style2014 .select-box select{color: #474e5d; font-size: 10px; height: 26px; width: 105%;}


.form.style2014 .f.error .label{color: #f3454d}
.form.style2014 .f.error .input-box{box-shadow: 0 0 5px #f3454d;
border-color: #f3454d;}
.form.style2014 .f.error input{}

.form.style2014 .f.wrap .input-box{border-radius: 0 0 3px 3px}
.form.style2014 .f.wrap .input-box:nth-of-type(1){
    border-radius: 3px 3px 0 0;
    margin-bottom: -3px;
}


/*header-container*/
.header-container {padding: 10px 0 10px 0px;background: #fff;}
.header{}
.header-container .logo{display:block; width: 72px; margin:auto;}
.header-container .logo a{display: block;}
.header-container .logo strong{position: absolute;top: -999em;left: -999em;width: 0;height: 0;font-size:0;line-height:0;text-indent: -999em;overflow: hidden;}
.quick-access{float:right;margin:  0 0 0;font-size: 13px;font-weight: 600;}
 .quick-access .catSet {position: relative;height: 30px;padding: 8px 10px 0;}
 .quick-access .catSet i{display: inline-block;
background: url(../images/buttonInsightsMini.png) 0 0 no-repeat;
height: 10px;
width: 10px;
margin-left: 4px;
vertical-align: middle;background-size: 7px auto;}
 .quick-access .catSet b{vertical-align: middle;}
 .quick-access li{float:left;}
 .quick-access li a{display: block;font-size:12px;line-height:12px;color: #444;padding: 0 5px;}
 .quick-access .catSet .catSetContent{display: none;position: absolute; width: 200px; background: #474e5d; color: #ffffff;right: 0;height: 225px;z-index: 1;top: 45px;padding: 10px 0;  }
 .quick-access .catSet .catSetContent:before{content: ''; position: absolute; background: url(../images/catSetArr.png) 0 0 no-repeat;height: 10px;width: 30px;background-size: 100% auto;top: -8px;right: 20px;}
 .quick-access .catSet .catSetContent   .inner{overflow-y: auto}
 .quick-access .catSet .catSetContent a {color: #fff; font-size: 13px; font-weight: bold; line-height: 30px; display: block; text-align: center;padding: 5px;}
  .quick-access .catSet .catSetContent a:active{color:#4cd964}
.quick-access .catSet .catSetContent.ac{display: block;}
.header .quick-access {}
.quick-access li a{text-indent: -999em;display: block;height: 26px;width: 26px;}
.quick-access li.myBasket a{background: url(../images/myBasket.png) 0 0 no-repeat; background-size: 26px 26px;}
.quick-access li.myAcc a{background: url(../images/myAcc.png) 0 0 no-repeat; background-size: 26px 26px;}

.header .btnBack{
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    margin-left: 25px;
    float: left;
    display: block;
    padding: 10px 0;
    position: relative;
}
.header .btnBack:before{
    content: '';
    border: 4px solid transparent;
    border-right: 6px solid #474e5d;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: -20px;
    top: 13px;
}
/*accountNavContainer*/
.accountNavContainer{position: relative;padding: 0 2px 0;}

.accountNavContainer a.btnShowNav{position: absolute;
background: url(../images/btnShowNavi.png) 0 100% no-repeat;
text-indent: -999em;
height: 35px;
width: 35px;
top:0;
right: 10px;}
.accountNav {max-height: 0; overflow: hidden; transition: all .5s;-webkit-transition: all .5s; -moz-transition: all .5s; }
.accountNav.ac{max-height: 380px; padding-top: 40px; overflow-y:auto; overflow-x:hidden  }
.accountNav li{}
.accountNav li a {font-size: 15px; color:#717171;font-weight: 600;line-height: 20px;padding: 10px 15px;display: block;}
.accountNav li.ac a {
    color: #fff;
    background: #0077d4;
    font-size: 21px;
    font-weight: 400;
}
.accountNav li:hover a {
    background: #acd3f3;
    color: #fff;
}

/* boxes*/
.bxToc{
    color: #29364c;
    font-size: 10px;
    padding: 10px 20px;
    text-align: center;
}
.bxToc .tt{
    font-size: 12px;
    font-weight: bold;
}
.bxToc .ct{}

.bxTitleBlack{
border: 1px solid #5d6472
;
background: #fff; font-size: 9px
;
line-height: 1.5;
}
.bxTitleBlack .tt{
    color: #fff;
    font-size: 10px;
    
    font-weight: 800;
    line-height: 20px;
    display: block;
    text-align: center;
    background: #535a69;  background: -moz-linear-gradient(top, #535a69 0%, #5d6473 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#535a69), color-stop(100%,#5d6473));  background: -webkit-linear-gradient(top, #535a69 0%,#5d6473 100%);  background: -o-linear-gradient(top, #535a69 0%,#5d6473 100%);  background: -ms-linear-gradient(top, #535a69 0%,#5d6473 100%);  background: linear-gradient(to bottom, #535a69 0%,#5d6473 100%);
}
.bxTitleBlack .ct{
    color: #545b6a;
    
    padding: 10px 5px;
}
/* list grid*/

.listProducts .item{margin: 10px 0;position:relative;min-height: 102px;background: #fff;color: #474e5d;font-size: 10px; overflow: hidden;}
.listProducts .item .img{float: left;border-left: 8px solid #4cd964;margin-right: 15px;}
.listProducts .item .txt{}
.listProducts .item .act{clear: left; padding: 8px 20px 8px 8px;}

.listProducts .item .pic{display: block;height: 105px;width: 112px;overflow: hidden;}
.listProducts .item .pic img{
    min-height: 100%;
    min-width: 100%;
}

.listProducts .item  .desc{
    margin-bottom: 5px;
    padding-left: 0;
    height: 70px;
}
.listProducts .item  .desc .tt{font-size: 13px;font-weight: 900;padding: 8px 0;}
.listProducts .item  .desc .ct{
    font-weight: 600;
}
.listProducts .item  .postHeader{ margin:0 auto; padding: 6px 8px;overflow:hidden;background: #4cd964;display: inline-block;min-height: 30px;color: #fff; font-size: 7px; width: 120px; line-height: 10px; margin-left: -8px;}

.listProducts .item  .postHeader i{float: left;}
.listProducts .item  .postHeader span{float:right;font-size: 13px;font-weight: 900;line-height: 18px;}
.listProducts .item  .postHeader span i {font-size: 5px;font-weight: 800;float: none;vertical-align: middle;padding: 0 2px;}
.listProducts .item  .actView{background:#474e5d;color: #fff;font-size: 13px;font-weight: bold;height: 30px;width: 65px;display: inline-block;padding: 6px 0 0 12px;float: right;text-align: left;}
.listProducts .item  .actView b{vertical-align: middle; margin-right: 8px}
.listProducts .item  .bottom{margin-top: 40px;line-height: 20px;}
.listProducts .item  .bottom .cat{color: #4cd964;
    font-weight: 800;font-size: 10px;display: inline-block;  margin-right: 30px;vertical-align: middle;}
.listProducts .item  .bottom .time{
    display: inline-block;
    vertical-align: middle;
    font-size: 7px;
}
.listProducts .item .act .in{background: #fff;min-height: 45px;padding: 10px 8px;border-radius: 4px;position: relative;-webkit-box-align: center;display: -webkit-box;}
.listProducts .item .act .in:before{content: '';background: url(../images/arr.png) 0 0 no-repeat;display: block;width: 20px;height: 45px;position: absolute;right: -16px;top: 0;background-size: auto 45px;}
.listProducts .item .act .in .msg{display: block;width: 65%;/* float: left; *//* vertical-align: middle; *//* padding: 5px 0; *//* line-height: 15px; */font-size: 10px;padding-right: 20px;}
.listProducts .item .act .in .nb{/* float: right; */width: 45%;text-align: right;padding-right: 25px;/* display: none; */max-width: 120px;}
.listProducts .item .act .in .rateOff{color:#0971ce}
.listProducts .item .act .in .priceOld{
    text-decoration: line-through;
}
.listProducts .item .act .in .price{
    font-size: 20px;
    font-weight: 800;
}
.listProducts .item .act .in .l{
    display: inline-block;
    margin-right: 5px;
}
.listProducts .item .act .in .r{
    display: inline-block;
}


.icon-arrRight{height: 8px; width: 6px; background: url(../images/arrRight.png) 0 0 no-repeat; background-size: 100% auto; display: inline-block; vertical-align: middle;}
.listProducts .item  .link{position: absolute; top: 0; left: 0 ; right: 0; bottom: 0}


/* modules */


.mdLogout{
    max-width: 620px;
    margin: auto;
}
.mdLogout .mdTt{
    color: #474e5d;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}
.mdLogout .mdCt{
    color: #474e5d;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}
.mdLogout .mdAct{
    padding: 0 10px;
}
.mdLogout{}
/*signin*/
.mdRegisterCt .tt .using{color:#202020;font:300 14px/18px 'Open Sans',sans-serif;}
.mdRegisterCt .regField .forgotPass{display:block;color:#fff;text-decoration:underline; float: left;font-weight: bold;font-size: 10px;line-height: 32px;}
.mdRegisterCt .regField .forgotPass:hover{color:#f1f1f1;}
.mdRegisterCt .regField button{
    float: right;
    height:32px;
    width: 85px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    background: #5c626e;
    background: -moz-linear-gradient(top, rgba(92,98,110,1) 0%, rgba(59,66,79,1)_ 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,66,79,1)), color-stop(100%,rgba(59,66,79,1)));
    background: -webkit-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: -o-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: -ms-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: linear-gradient(to bottom, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    margin-top: 5px;
}
.mdRegisterCt .regField{overflow: hidden;padding: 15px 0 15px 5px;}
.mdRegisterCt .bConnect {
    margin: -2px 0 0;
    overflow: hidden;
}
.mdRegisterCt .bConnect button{
    color: #fff;font-size: 10px;font-weight: bold;
    line-height: 45px;height: 43px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    width: 153px;
    text-align: center;
}
.mdRegisterCt .bConnect .createAcc,.mdRegisterCt .bConnect .bLogin{background: #0971ce;float: left;}
.mdRegisterCt .bConnect .connectWithFB,.mdRegisterCt .bConnect .fbRegister{float: right;
    background: #5a7099 url(../images/iconConnectFB.png) 10px center no-repeat;
    background-size: 8px 15px;
padding-left: 25px;text-align: left;}

.mdRegisterCt .regField .optionsCheckBox{
    float: left;
    width: 50%;
}
.mdRegisterCt .regField .optionsCheckBox .row{
    padding: 0 0 0 40px;
    position: relative;
}
.mdRegisterCt .regField .optionsCheckBox .row .cb + label{
    color: #fff;
    font-size: 7px;
    line-height: 11px;
    background: none;
    padding: 5px 0;
    white-space: normal;
    margin: 0;
}
.mdRegisterCt .regField .optionsCheckBox .row .cb + label .ico {
    background: url(../images/checkbox.png) 0 100% no-repeat;  background-size: 250px auto;
    position: absolute;
    height: 26px;
    width: 26px;
    left: 5px;
    top: 5px;
}

.mdRegisterCt .regField .optionsCheckBox .row .cb:checked + label .ico {background-position: 0 0 }


.mdRegisterCt{padding:0px 3px 50px;background: #f2f2f2; max-width: 620px; margin: auto}
.mdRegisterCt .tt{font:bold 20px/58px 'Open Sans',sans-serif;color:#474e5d;text-align: center;}
.mdRegisterCt .roundedStyle {
    padding: 0 0 0 7px;background: #0971ce;
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
}
.mdRegisterCt .innerForm{
    background: #474e5d;
    padding: 10px 20px 10px 10px;
    position: relative;
    z-index: 99;
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
}
.mdRegisterCt .innerForm label{
    display: block;
    line-height: 20px;
    margin: 5px 0 0;
    color: #fff;
    font-weight: bold;
}
.mdRegisterCt .innerForm > input{
    width:100%;
    background: #fff;
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
    line-height: 27px;
    height:27px;
    padding: 0 5px;
}


.mdSimilarProducts{max-width: 620px; margin: 20px auto;}
.mdSimilarProducts .mdTt{color: #28354c; font-size: 12px; font-weight: bold;padding: 0 10px;}
.mdSimilarProducts .mdCt{}


.mdOfferDetail{
    max-width: 620px;
    margin: auto;
    padding-bottom: 8px
}
.mdOfferDetail .listProducts .item{background:none}
.mdOfferDetail .bxTitleBlack{
    margin: 8px;
}

.mdOfferDetail .bxTitleBlack.where .ct{
    overflow: hidden;
    padding: 0;
}

.mdOfferDetail .bxTitleBlack.where .l{color: #ff0000;
font-size: 7px;
font-weight: bold;
width: 57%;
float: left;
padding: 20px;}

.mdOfferDetail .bxTitleBlack.where .r{
    width: 42%;
    float: right;
    padding: 5px;
    border-left: 1px solid #5d6472;
    font-size: 9px;
}

.mdOfferDetail .action {
    margin: 8px auto;
    overflow: hidden;
    width: 300px;
    padding-left: 5px;
}

.mdOfferDetail .action  .select-box{float: right; width: 250px; margin-bottom: 10px}
.mdOfferDetail .action  .select-box select{width: 110%}
.mdOfferDetail .action .btnDropdown{
    float: left;
    width: 40px;
    margin-top: 20px;
}
.mdOfferDetail .action .buy{float: right;width: 250px;display: block;
font: bold 13px/42px 'Open Sans',sans-serif;
color: #fff;
text-align: center;
border: 1px solid #045dad;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #3593e6;
    background: -moz-linear-gradient(top, rgba(9,113,206,1) 0%, rgba(53,147,230,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,147,230,1)), color-stop(100%,rgba(9,113,206,1)));
    background: -webkit-linear-gradient(top, rgba(53,147,230,1) 0%,rgba(9,113,206,1) 100%);
    background: -ms-linear-gradient(top, rgba(53,147,230,1) 0%,rgba(9,113,206,1) 100%);
    background: linear-gradient(to bottom, rgba(53,147,230,1) 0%,rgba(9,113,206,1) 100%);
}

.mdOfferDetail .action .buy .button{
    float:left;color: #fff;
}
.mdOfferDetail .action .buy .total{
    width: 25%;
}
.mdOfferDetail .action .buy .btnCheckout{
    width: 75%;
    border-left: 1px solid #045dad;
}




.mdOffer .listProducts .item{background: none}
.mdOffer .listProducts .postHeader{padding-right: 2px; padding-left: 2px; width: auto; margin: 0;display: block;}
.mdOffer .listProducts  .cat{
    
}
.mdOffer .listProducts  .time{
}
/*footer-container*/
.footer-container{background:#474e5d;padding: 10px 3px 35px;margin:20px 0 0; text-align: left;color: #fff;}
.footer [class*="col"]{padding: 10px 0 0px;font-size: 10px;text-align: center;}
.footer [class*="col"] h5{font-size: 12px;font-weight: bold;}
.footer [class*="col"] li{margin: 0 0 3px;}
.footer [class*="col"] li a{display:block;color: #fff;}

.ftBottom {padding: 30px 20px 0;text-align:center;}
.ftBottom .logo{width:50px}
   
/*pageSideNav*/   
.pageSideNav{display: block;
position: fixed;
top: 0;
left: -120px;
height: 100%;
z-index: -1;
/* overflow-x: hidden; */
/* overflow-y: auto; */
background: #404653;
width: 120px;
-webkit-overflow-scrolling: touch;color: #ffffff;font-size: 11px;padding-right: 10px;
transition:all 1s;
-webkit-transition:all 1s;
-moz-transition:all 1s;
}

.pageSideNav.show{display: block;z-index: 1;left: 0}

.pageSideNav .inner{background: #474e5d; height: 100%}
.pageSideNav .links{
    padding-top: 15px;
    clear: right;
}
.pageSideNav .links li{
   
    min-height: 42px;
}.pageSideNav .links li +li{ border-top: 1px solid #404653;}
.pageSideNav .links li a{
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 30px;
    padding: 5px;
    text-align: right;
}

.locationSet {
    position: relative;
}
.locationSetContent {display: none;position: fixed;left: 120px;top: 55px;z-index: 40;width: 220px;text-align: left;}
.locationSetContent:before{content: '';
position: absolute;

height: 0;
width: 0;

top: 142px;
left: 0;border: 10px solid transparent;border-right: 10px solid #474e5d;border-top-width: 15px;border-bottom-width: 15px;}
.locationSetContent.ac {display: block;}
.locationSetContent .in{
    margin: 0 0 0 20px;
    background: #474e5d;
    border-top: 0;
    max-height: 400px;
    overflow: auto;
}
.pageSideNav .locationSet .locationSetContent a{
    color: #fff;  font-size: 13px;  font-weight: bold;  line-height: 30px;  display: block;  text-align: center;  padding: 5px;
}
/*icons */
 .showNavLeft{float: left; text-indent: -999em; background: url(../images/navLeft.png) 0 0 no-repeat; display: block;width: 32px; height: 30px; background-size: 100% auto; margin: 5px  0 0; position: relative;}
 .showNavLeft .nb{position: absolute;background: #e74c3c;top: -6px;right: -6px;height: 12px;width: 12px;display: block;border-radius: 50%;color: #fff;font-size: 8px;text-align: center;text-indent: 0;}
.showNavLeft.white{background: url(../images/navLeftWhite.png) 0 0 no-repeat;background-size: 100% auto;float: right;margin: 15px 0px 0  0;z-index: 8;}


/*offer*/



/*acc*/
.myAccount .quick-access{}
.myAccount .quick-access li.goBack a{display:block; text-decoration:none; position:relative;padding-left: 10px;}
.myAccount .quick-access li.goBack a:before{background:url(../images/arrLeft.png) 0  0 no-repeat;content:''; position:absolute; left: 0;top:0;display: block;height: 10px;width: 10px;}
.myAccount .quick-access li.logOut a{display:block; text-decoration:none; padding-right: 30px; position:relative;margin-right: 5px;}
.myAccount .quick-access li.logOut a:before{background: url(../images/icoLogOut.png) 100% 0 no-repeat;content:''; position:absolute; right:0;top: -7px;display: block;height: 25px;width: 25px;}
.myAccount .header-container{background-color: #fbfbfb}
.myAccount .header{position: relative;}

.myAccount .welcome {
    padding: 15px;
}
.myAccount .welcome .txt{
    font-size: 35px;
    color: #717171;
    padding-right: 50px;
}
.myAccount .welcome .ct{
    background: url(../images/bbWhite.png) -1px 0;
    color: #717171;
    font-size: 13px;
    padding: 40px  30px 15px 15px;
    height: 115px;
    line-height: 20px;
}
.myAccount .welcome .ct b{
    display: block;
    font-size: 16px;
    margin: 0px 0 15px;
    padding-right: 30px;
}
.tabTt{color: #717171; font-size: 17px;text-align: center;margin:  0 0 10px;}
.myAccount .name{
    color: #1879d2;
    font-size: 28px;
    font-weight: 300;
    padding: 0 50px 0 15px;
}
.myAccount .tabTxt{
    color: #717171;
    font-size: 13px;
    padding: 15px;
    line-height: 15px;
}
.box-account {
    padding: 15px;
    color:#717171
}
.box-account .box-head{
    font-size: 13px;
}
.box-account .box{font-size:13px;padding-bottom: 10px;}
.box-account .box-title{
    font-weight: 600;
    margin: 20px auto 15px;
    position: relative;
}
.box-account .box-title a{background:url(../images/icon-edit.png) 0 0 no-repeat;height: 25px; width: 25px;
position: absolute;right: 0;top: -5px;text-indent: -999em;}
.box-account .box-content{}
.box-account .box-content a{text-decoration:underline}
/*common checkout*/
.checkout-page .header-container{background:#fbfbfb; padding-left: 10px}
.checkout-page .continueShopping {float: left; margin: 5px 0 0}
.checkout-page .continueShopping a{background: url(../images/goBack.png) 0 0 no-repeat;
text-indent: -999em;
display: block;
height: 26px;
width: 26px;
background-size: 26px auto;}

.checkoutCt {max-width: 620px; margin: auto;color: #474e5d; overflow: hidden;}
.checkoutCt .page-title h1{color:#474e5d;font: bold 13px/20px 'Open Sans',sans-serif; text-align: center;padding: 5px;}
.checkoutCt .subtitle{font-size: 8px;font-weight: 600;text-align: center;}
.checkoutCt .subtitle a{display:block;text-decoration: underline;font-size: 11px;font-weight: 900;}
#checkout-progress-wrapper {padding: 10px 0 10px;}
#checkout-progress-wrapper .block-progress{background:#fff;color:#ccc;}
#checkout-progress-wrapper li{width:33.33%; float:left;cursor:pointer;border: 1px solid #474e5d;border-left-width: 0;}
#checkout-progress-wrapper li:first-child{
    border-left-width: 1px;
}
#checkout-progress-wrapper li span{display:block; font: 800 10px/40px  'Open Sans',sans-serif;text-align:center;position:relative;color: #474e5d;}
#checkout-progress-wrapper li span:after{content:'';border-style:solid;border-width: 10px 0px 10px 10px;border-color: transparent #474e5d;position:absolute;right: -11px; display:none;top: 40%;margin-top: -5px;}
#checkout-progress-wrapper .ac span,
#checkout-progress-wrapper .done span{background: #474e5d; color: #fff;}
#checkout-progress-wrapper .ac span:after,
#checkout-progress-wrapper .done span:after{display:block;}
#checkout-progress-wrapper li:last-child span:after {display: none;}
.checkoutCt .checkout-sections .tt{color:#3d3d3d;padding: 0 10px 0px;font-size: 11px;font-weight: 800;text-align: center; margin: 15px auto}
.checkoutCt .checkout-sections .section {padding:10px;color: #474e5d;font-size: 10px}

.checkoutCt .section  .optionsCheckBox .row{margin: 10px;padding: 0;}
.checkoutCt .section  .optionsCheckBox  .row .cb{position: absolute;overflow: hidden;clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0;border:0;}
.checkoutCt .section  .optionsCheckBox  .row .cb + label{ }
.checkoutCt .section  .optionsCheckBox .row .cb:checked + label{background-position:0 0;}



.checkoutCt .section .row .desc{color:#878787; font-size:12px;padding:0 0 0 45px;}

.checkoutCt .sep{border-top: 1px solid #d7d7d7;
height: 0;
width: 65%;
margin: 5px auto;}

.checkoutCt  .btnSave,
.checkoutCt .btnPayment,
.checkoutCt .btnCheckout,
.checkoutCt .btnMyAccount ,
.checkoutCt .btnBackToDeals{display: block;width: 100%;font: bold 13px/40px 'Open Sans',sans-serif;color: #fff;text-align: center;
background: #3593e6;
background: -moz-linear-gradient(top,  #3593e6 1%, #0971ce 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#3593e6), color-stop(100%,#0971ce));
background: -webkit-linear-gradient(top,  #3593e6 1%,#0971ce 100%);
background: -ms-linear-gradient(top,  #3593e6 1%,#0971ce 100%);
background: linear-gradient(to bottom,  #3593e6 1%,#0971ce 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3593e6', endColorstr='#0971ce',GradientType=0 );

border: 1px solid #045dad;border-radius: 3px;/* width: 300px; */margin: 15px auto;}

.checkoutCt  .button .meta{
    float: left;
    width: 128px;
    text-align: center;
    border-right: 1px solid #045dad;
}



/*co1*/
.bxCart{/* background:#fff; */ max-width: 620px; margin: auto;padding: 0 10px;}
.bxCart .page-title{padding-left:0; background: #f2f2f2; }
.bxCart .data-table{ border:0}
.bxCart .data-table td{padding: 5px; vertical-align: top;}
.bxCart .data-table td.name{font-size: 10px;vertical-align: middle;}
.bxCart .data-table td.price{font-weight: bold;color: #474e5d;line-height: 18px;padding: 20px 5px;}
.bxCart .data-table td.qty,.bxCart .data-table td.remove{padding: 20px 5px;}
.bxCart .data-table td.remove a{display: block;width: 16px; height: 16px;background: url(../images/iconRemove.png) 0 0 no-repeat; background-size: 16px 16px;}
.bxCart .data-table tfoot td {padding: 0;background: #fff;font-size: 8px;color: #28354c;padding: 30px 0;line-height: 15px;}
.bxCart .data-table thead{display: none}
.bxCart .data-table tbody{background:#fff}
.bxCart .data-table td.deal{padding-left: 0}
.bxCart .data-table td.deal img{margin: 0;
width: 48px;
max-width: none;
height: auto;}


.bxCart .data-table tfoot td.price{color: #28354c; font-size: 11px; font-weight: bold; text-align: right;line-height: 15px;padding: 30px 0;}

.bxCart{}

.bxCart .coupon{font-size: 10px; color: #474e5d;overflow: hidden;padding: 10px;background: #fff;}
.bxCart .coupon b{font-weight: bold; }
.bxCart .coupon .input{border: 1px solid #d79b38;
width: 200px;
height: 22px;

line-height: 15px;
padding: 2px 5px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
float: left;display: block;position: relative;}
.bxCart .coupon .input .placeholder{
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 2px;
    /* display: none; */
}
.bxCart .coupon .input input{line-height: 15px;
padding: 2px 5px;
border-radius: 4px;font-weight: normal;height: 15px;}
.bxCart .coupon button{

background: #eabe47;
background: -moz-linear-gradient(top,  #eabe47 0%, #d69837 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eabe47), color-stop(100%,#d69837));
background: -webkit-linear-gradient(top,  #eabe47 0%,#d69837 100%);
background: -o-linear-gradient(top,  #eabe47 0%,#d69837 100%);
background: -ms-linear-gradient(top,  #eabe47 0%,#d69837 100%);
background: linear-gradient(to bottom,  #eabe47 0%,#d69837 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eabe47', endColorstr='#d69837',GradientType=0 );

font-size: 8px;
color: #fff
;

display: block;

height: 22px;

width: 70px;

text-align: center;

border: 1px solid #e9bc46;

-moz-box-shadow: inset 0px 0px  4px #fff;
box-shadow: inset 0px 0px  4px #fff;


margin-left: 5px;

float: left;

border-radius: 3px;

font-size: 9px;

line-height: 16px;

padding: 2px 0 0;

}

.bxCart .coupon button:hover{background: -moz-linear-gradient(top,  #d69837 0%, #eabe47 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d69837), color-stop(100%,#d69837));
background: -webkit-linear-gradient(top,  #d69837 0%,#eabe47 100%);
background: -o-linear-gradient(top,  #d69837 0%,#eabe47 100%);
background: -ms-linear-gradient(top,  #d69837 0%,#eabe47 100%);
background: linear-gradient(to bottom,  #d69837 0%,#eabe47 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d69837', endColorstr='#d69837',GradientType=0 );}


.bxCart .btnContinue{display: block;
    width: 100%;
    font: bold 13px/42px 'Open Sans',sans-serif;
    color: #474e5d;
    text-align: center;
    background: #fff;
    margin: 10px 0 0;
    border: 1px solid #474e5d;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.bxCart .buttonWrap{
    /* background: #f2f2f2; */
    padding: 50px 0;
    margin: auto;
}


/*co 2 - shipping - common*/
.section.shipping {background: none!important; padding: 0 10px!important;}



/*co 2a*/
.billingInfo{font-size: 10px; }

.formBillingInfo{/* margin-top: 20px */}
.billingInfo .optionsCheckBox .row{padding: 5px 10px}

.billingInfo .button span{}


/*co2b shipping info*/
.shippingInfo{}



/*co 2c - methodInfo*/
.methodInfo {font-size: 15px}
.methodInfo .optionsCheckBox{background: #fff;padding: 5px 15px;margin: 15px auto;}
.methodInfo .optionsCheckBox .row{padding-left: 10px;}
.methodInfo .optionsCheckBox .rowTt{color: #26334c;font-size: 10px; margin: 10px 0; display: block;}

/*co3 - review*/
.checkoutCt .checkout-sections .reviewPage{padding:0; background:none;color: #474e5d;padding: 10px;}
.reviewPage .box-review{padding: 5px 10px; background:#fff;margin:0 0 17px;border-radius: 4px;}
.reviewPage .box-review table{}
.reviewPage .box-review table td{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.reviewPage .box-review table td .tt{
    display: block;
    font-size: 13px;
    margin: 10px auto 10px;
}
.reviewPage .box-review table td.p{font-size:13px}
.reviewPage .box-review table td.p .tt{margin-bottom: 15px;}

.reviewPage .box-review.cart{
    border: 1px solid #474e5d;
    padding: 0 10px;
}
.reviewPage .box-review.cart .r{
    margin: 10px 0;
    overflow: hidden;
}
.reviewPage .box-review.cart .pic{width: 50px; height: 45px;float: left;margin-right: 10px;}
.reviewPage .box-review.cart .desc{
    font-size: 8px;
    padding-top: 10px;
    float: left;
}

.reviewPage .box-review.cart .price{float: right;font-size: 11px;font-weight: bold;padding: 10px 20px;text-align: right;}


/*co4 - payment*/

.payment-info {}
.payment-info  .optionsCheckBox{ height: 108px; margin: 15px auto; border: 1px solid #474e5d;background: #fafafa;  background: -moz-linear-gradient(top,  #fafafa 1%, #e3e3e3 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fafafa), color-stop(100%,#e3e3e3));  background: -webkit-linear-gradient(top,  #fafafa 1%,#e3e3e3 100%);  background: -o-linear-gradient(top,  #fafafa 1%,#e3e3e3 100%);  background: -ms-linear-gradient(top,  #fafafa 1%,#e3e3e3 100%);  background: linear-gradient(to bottom,  #fafafa 1%,#e3e3e3 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e3e3e3',GradientType=0 ); border-radius: 4px;}
.checkoutCt .payment-info  .optionsCheckBox .row{width: 50%; float: left;margin: 0;padding: 0;border-left: 1px solid #474e5d;}
.checkoutCt .payment-info  .optionsCheckBox .row:first-child{border-left:0}
.checkoutCt .payment-info  .optionsCheckBox .row .cb + label{color:#474e5d;font-weight: bold;font-size: 16px;line-height: 20px;text-align: center;position: relative;background: none;height: 105px;padding: 15px 10px 10px;}
.checkoutCt .payment-info  .optionsCheckBox .row .cb + label .ico{
    background: url(../images/checkbox.png) 0 100% no-repeat;  background-size: 250px auto;
    display: block;
    position: absolute;
    height: 26px;
    width: 26px;
    left: 50%;
    margin-left: -13px;
    bottom: 10px;
}
.checkoutCt .payment-info  .optionsCheckBox .row .cb:checked + label .ico{
    background-position: 0 0;
}


.checkoutCt .confirmPage{}
.checkoutCt .confirmPage .box{
    border: 1px solid #474e5d;
    border-radius: 4px;
    background: #fff;
    padding: 10px 10px 20px;
}
.checkoutCt .confirmPage .box .tt{font-size: 25px;font-weight: bold;text-align: left;padding: 0;margin-bottom: 5px;padding-right: 70px;}
.checkoutCt .confirmPage .box .ico{
    background: url(../images/signOkay.png) 0 0 no-repeat;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 35px;
    right: 40px;
    display: block;
    background-size: 100% auto;
}
.checkoutCt .confirmPage .btnMyAccount{float:left;width: 48%;}
.checkoutCt .confirmPage .btnBackToDeals{float:right;width: 48%;}
/*hover*/
.homeFtImage:hover,.listProducts .item:hover,
.landingSlider .scBig a:hover,
.buttonInsights .it .detail .buy:hover,
.offerMainContent .relatedOffers .it:hover,
.registerCt .regField button:hover,
.registerCt .scPopup a:hover,
.ftBottom .fSocial a:hover,
.checkoutCt .section .btnSave:hover,
.box-account  a:hover{opacity: .8;-moz-opacity: .8;filter: alpha(opacity=80);}

.header-container .quick-access li a:hover,
.registerCt .agree a:hover,
.registerCt .registered a:hover,
.signinCt .register-here p a:hover,
.checkoutCt .orderReceived a:hover,
.quick-access .continueShopping a:hover,
.line.action a:hover,
.reviewPage .bot-link p a:hover
{text-decoration:underline;}


.checkoutCt  .btnSave:hover,
.checkoutCt .btnPayment:hover,
.checkoutCt .btnCheckout:hover{
background: -moz-linear-gradient(top,  #0971ce 1%, #3593e6  100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0971ce), color-stop(100%,#3593e6 ));
background: -webkit-linear-gradient(top,  #0971ce 1%,#3593e6  100%);
background: -ms-linear-gradient(top,  #0971ce 1%,#3593e6  100%);
background: linear-gradient(to bottom,  #0971ce 1%,#3593e6  100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0971ce', endColorstr='#3593e6 ',GradientType=0 );

}

.button.grey:hover{
background: -moz-linear-gradient(top,   0%, #474e5d  #5e6471 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474e5d), color-stop(100%, #5e6471 ));
background: -webkit-linear-gradient(top,  #474e5d 0%, #5e6471 100%);
background: -o-linear-gradient(top,  #474e5d 0%, #5e6471 100%);
background: -ms-linear-gradient(top,  #474e5d 0%, #5e6471 100%);
background: linear-gradient(to bottom,  #474e5d 0%, #5e6471 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474e5d', endColorstr='#5e6471',GradientType=0 );

  
}




/*myAccWrap*/
.myAccWrap{
    padding: 0 7px 50px;
    max-width: 620px;
    margin: auto
}
.myAccWrap > div.breadcrumb{
    font: bold 12px/20px 'Open Sans',sans-serif;
    padding: 10px 0;
    color: #474e5d;
    text-align: center;
}
.myAccWrap > div.breadcrumb span{
    margin: 0 3px;
}
.myAccWrap .roundedStyle{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #474e5d;
    background: #fff;
}
.myAccWrap .subtt{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #474e5d;
}
.myAccWrap  div.voucher{
    background: #474e5d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-align: center;
}
.myAccWrap  div.voucherNb{
    padding: 10px 0;
    border-bottom: 2px solid #f2f2f2;
}
.myAccWrap  div.voucherNb h3{
    margin: 5px 0 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.myAccWrap  div.voucher button{
    width: 100%;
    background: #474e5d;
    height: 35px;
    color: #fff;
}
.myAccWrap  div.voucher button span{
    display: inline-block;
    padding: 0 15px;
    background:url(../images/arrOrange.png) right center no-repeat;
    background-size: 8px 10px;
}
.myAccWrap .box-orders{
    padding: 5px 0;
    font-size: 10px;
    font-weight: bold;
}
.myAccWrap .box-orders .o-number,
.myAccWrap .box-orders .o-date,
.myAccWrap .box-orders .o-total,
.myAccWrap .box-orders .status{
    padding: 0 5px 5px;
    float: left;
    text-align: center;
}
.myAccWrap .box-orders .o-number{
    width: 30%;
}
.myAccWrap .box-orders .o-date{
    width: 25%;
}
.myAccWrap .box-orders .o-total{
    width: 20%;
}
.myAccWrap .box-orders .status{
    width: 25%;
}
.myAccWrap div.it h4{
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 19px;
    background: #5d6473;
    background: -moz-linear-gradient(top, rgba(83,90,105,1) 0%, rgba(93,100,115,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,90,105,1)), color-stop(100%,rgba(93,100,115,1)));
    background: -webkit-linear-gradient(top, rgba(83,90,105,1) 0%,rgba(93,100,115,1) 100%);
    background: -o-linear-gradient(top, rgba(83,90,105,1) 0%,rgba(93,100,115,1) 100%);
    background: -ms-linear-gradient(top, rgba(83,90,105,1) 0%,rgba(93,100,115,1) 100%);
    background: linear-gradient(to bottom, rgba(83,90,105,1) 0%,rgba(93,100,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535a69', endColorstr='#5d6473',GradientType=1 );
}
.myAccWrap div.it .txt{
    padding: 10px 5px;color: #474e5d;font-size: 10px;
}
.myAccWrap div.it.where{
    text-align: center;padding-bottom: 20px;border-bottom: 5px solid #5d6473;
}

.myAccWrap.index{}
.myAccWrap.index .mdCt{
    padding: 10px 30px;
}
.myAccWrap.index .links{
    border: 1px solid #474e5d;
    border-radius: 4px;
    position: relative;
}
.myAccWrap.index .links:before{content:'';position: absolute;background: #474e5d;border-radius: 4px;height: 100%;width: 100%;z-index: 0;bottom: -5px;right: -5px;}
.myAccWrap.index .links:after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 1;
    border-radius: 4px;
}
.myAccWrap.index .links a {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #474e5d;
    position: relative;
    z-index: 2;
}
.myAccWrap.index .links a:first-child{border-top:0}
.myAccWrap.index .links a:before{content:'';position: absolute;width: 0;height: 0;display: block;border-width: 4px 0 4px 6px;border-style: solid;border-color:  transparent #000;top: 50%;margin-top: -4px;right: 20px;}
.myAccWrap.index .links a.ord:before{border-color:  transparent #ff2d55;}
.myAccWrap.index .links a.dtl:before{border-color:  transparent #ffcc00;}
.myAccWrap.index .links a.eml:before{border-color:  transparent #007aff;}
.myAccWrap.index .links a.out:before{border-color:  transparent transparent;}

.myAccWrap.mdAccountDetailWrap {}


.mdAccountDetailWrap .roundedStyle {
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
    background: none;
    border: none;
}
.mdAccountDetailWrap .innerForm{
    background: #474e5d;
    padding: 10px 20px 10px 20px;
    position: relative;
    z-index: 99;
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
}
.mdAccountDetailWrap .innerForm label{
    display: block;
    line-height: 20px;
    margin: 5px 0;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
}
.mdAccountDetailWrap .innerForm > input{
    width:100%;
    background: #fff;
    border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
    line-height: 20px;
    height: 20px;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}





.mdAccountDetailWrap .regField .optionsCheckBox{
    float: left;
    width: 40%;
}
.mdAccountDetailWrap .regField .optionsCheckBox .row{
    padding: 0 0 0 35px;
    position: relative;
}
.mdAccountDetailWrap .regField .optionsCheckBox .row .cb + label{
    color: #fff;
    font-size: 8px;
    line-height: 11px;
    background: none;
    padding: 5px 0;
    white-space: normal;
    margin: 0;
}
.mdAccountDetailWrap .regField .optionsCheckBox .row .cb + label .ico {
    background: url(../images/checkbox.png) 0 100% no-repeat;  background-size: 250px auto;
    position: absolute;
    height: 26px;
    width: 26px;
    left: 0px;
    top: 0px;
}

.mdAccountDetailWrap .regField .optionsCheckBox .row .cb:checked + label .ico {background-position: 0 0 }




.mdAccountDetailWrap .regField button{
    float: right;
    height: 24px;
    width: 64px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid #fff;
    border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    background: #5c626e;
    background: -moz-linear-gradient(top, rgba(92,98,110,1) 0%, rgba(59,66,79,1)_ 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,66,79,1)), color-stop(100%,rgba(59,66,79,1)));
    background: -webkit-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: -o-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: -ms-linear-gradient(top, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    background: linear-gradient(to bottom, rgba(92,98,110,1) 0%,rgba(59,66,79,1) 100%);
    margin-top: 5px;
    margin-left: 10px;
}
.mdAccountDetailWrap .regField button.ic{opacity:.4;-moz-opacity:.4;}
.mdAccountDetailWrap .regField{overflow: hidden;padding: 10px 0 20px 0px;}


/*viewOrders*/
.list-orders .orderIt{
    margin: 0 0 5px;
    position: relative;
}
.list-orders .orderIt > div{
    width: 80%;float: left;
    padding: 10px 0;
    border-right: 1px solid #444;
}
.list-orders .o-number,
.list-orders .o-date,
.list-orders .o-total,
.list-orders .status{
    padding: 0 2px 5px;float: left;text-align: center;font-size: 9px;font-weight: bold;
}
.list-orders .title li{font-weight: 600;}
.list-orders .o-number{
    width: 30%;
}
.list-orders .o-date{
    width: 25%;
}
.list-orders .o-total{
    width: 20%;
}
.list-orders .status{
    width: 25%;
}
.list-orders .orderIt > button.view{
    width: 20%;
    float: left;
    position: absolute;
    right: 0;
    top:0;
    height:100%;
    text-align: left;
    padding: 0 15px 0 10px;
    background:url(../images/arrOrange.png) 90% center no-repeat;
    background-size: 7px 9px;
}
/*orderDetailWrap*/
.orderDetailWrap > .roundedStyle{margin: 0 0 5px;}
.orderDetailWrap > div.breadcrumb{color: #222;}
.orderInfo {font-size: 10px;padding: 0 0 10px;}
.orderInfo .tt{background: #474e5d;color: #fff;font-weight: 600;padding: 6px 0;margin: 0 0 10px;}
.orderInfo .tt .lft{text-align: left;}
.orderInfo .lft{width: 35%;float: left;padding:6px 12px 6px 10px;text-align: right;font-weight: 600;}
.orderInfo .rgt{width: 65%;float: left;padding: 6px 0;}
.boxVoucher .tt{background: #474e5d;color: #fff;font-weight: 600;padding: 6px 10px;}
.boxVoucher .ct{position: relative;padding: 10px 0;overflow: hidden;}
.boxVoucher .vcInfo{width: 80%;float: left;font-size: 9px;color: #212121;font-weight: 600;
    padding: 0 0 0 10px;line-height: 15px;
}
.boxVoucher .nb{font-size: 10px;}
.boxVoucher .nb span{text-transform: uppercase;}
.boxVoucher .view{
    position: absolute;
    width: 20%;
    top:0;
    right: 0;
    height: 100%;
    text-align: left;
    padding: 0 15px 0 5px;
    background:url(../images/arrOrange.png) 80% center no-repeat;
    background-size: 7px 9px;
}
.boxDeal{padding: 7px;}
.boxDeal table{width: 100%;}
.boxDeal table .qty,.boxDeal table .total{text-align: center;}
.boxDeal tfoot{font-weight: 600;}
.boxDeal table th, .boxDeal table td{padding: 3px;}
.boxDeal table td.d-name{color:#006ecf;}
.orderDetailWrap p.contact{font-size: 10px;color: #222;}